# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Files (IMPORTANT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.sqlite
*.sqlite3
server/database.sqlite
*.db

# Build Output
client/dist/

# Mac / Windows System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
